*{
    overflow: hidden;
}

body{
    background-color: #6D435A;
}

#canvas{
    z-index: -1;
    margin:0;
    padding:0;
    position: absolute;
}

.offcanvas-header{
    background-color: #05020a;
}
.navbar,.offcanvas-body{
    background-color: #05020a;
}

.btn-more{
    padding-top: 0;
    padding-bottom: 0.25vh;
}

.navbar-toggler{
    border: none;
}
.navbar-toggler-icon{
    width: 40px;
    height: 40px;
}

#click-screen-text{
    padding-bottom: 10px;
    font-weight: lighter;
    font-size:1rem;
    z-index: 1;
    margin-top: 7vh;
}